#head{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    color: #3f3f3f;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    
}
nav ul li a{
    margin: 10px;
}
nav ul li:hover{
    background-color: grey;
    text-decoration-color: white;
}



.container{
    padding: 50px;
}
.btn btn-primary{
    margin: 20px;
}