#head{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    color: #3f3f3f;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    
}
nav ul li a{
    margin: 10px;
}
nav ul li:hover{
    background-color: grey;
    text-decoration-color: white;
}
.banner{
    height: 500px;
    position: relative;
    width: 100%;
}
.banner img{
    width: 100%;
    height: 130%;
    padding-top: 0px;
    
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
.content h2{
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 300px;
    font-family: proxima-nova,Sans-serif;
    text-align: center;
    font-weight: 100;
}
.content::before{
    position: absolute;
    content: '';
    width: 62%;
    height: 125px;
    bottom: -50px;
    left: 0;
    background:#fff;
    transform: skewY(10deg);
}
.content::after{
    position: absolute;
    content: '';
    width: 62%;
    height: 125px;
    bottom: -50px;
    right: 0;
    background:#fff;
    transform: skewY(-10deg);
}
.col-lg-6 h1{
    font-size: 30px;
    padding-top: 200px;
    font-weight: bold;
    font-family:  'Arial Narrow Bold', sans-serif;
}
.col-lg-6 p{
    font-size: 20px;
    padding: 10px;
    word-spacing: 5px;
}
.btn btn-danger{
    padding: 50px;

}
.carousel-inner{
    padding-top: 150px;
}
.carousel-control-prev{
    padding-top: 200px;
}
.carousel-control-next{
    padding-top: 200px;
}
.col-lg-8 h1{
    font-size: 30px;
    padding-top: 200px;
    font-weight: bold;
    font-family: 'Arial Narrow Bold',sans-serif;
}



.card{
    padding: 20px;
    padding-top: 70px;
    border: #fff;
    display: flex;
    flex-direction: column;
    
   
}
.hobby{
    font-size: 30px;
    padding-top: 200px;
    font-weight: bold;
    font-family:  'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-left: 150px;
}
footer{
    padding-top: 50px;
}
.bann img{
    width: 100%;
    padding-top: 0px;
} 
.center{
    position: absolute;
    top: 430%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.jumbotron{
    position: absolute;
    top: 430%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    width: 1300px;
    
}
h3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.para{
    color: white;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
}
.container{
    display: flex;
    flex-direction: column;
}
.ita{
    position: absolute;
    top: 465%;
    left: 30%;
    transform: translate(-50%, -50%);
    color:white;
    
}
.unordered{
    list-style-type: none;
    color: white;
    position: absolute;
    top: 465%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 30px;

}
.li{
    display: inline;
    margin: 25px;
    color: white;
}
@media screen and (min-width:500px){
    footer::before{
        visibility: visible;
    }
}
@media screen and (max-width:499px){
    footer::after{
        position: absolute;
        top: 800%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:black;
        width: 1300px;
    }
}
.main-article-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

